[Desktop Entry]
Version=1.0
Type=Application
Name=usb wakeup tool
Icon=usb
Categories=Accessories;Utility;
Exec=usb_wakeup_configuration
StartupNotify=false
Terminal=false
SingleMainWindow=true
